<div class="article">
	<% if current_user %>
	  <%=link_to "Edit", blog_engine.edit_article_path(@article) %>
	<% end %>
	<h1><%= @article.title%></h1>

	
	<%= raw Pygments.highlight(@article.content, lexer: "ruby") %>
	
</div>
	
<div class="comments">	
	<%= render :partial => "shared/disqus", :locals => { title: @article.title } %>
</div>